<a href="https://colab.research.google.com/github/Franchertz/Python-Learning/blob/main/Pandas_Reset_Index_in_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Recaping**

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.randn(10,5)

array([[-0.68967677, -0.09325167,  0.51711395,  0.96402356, -0.41826195],
       [ 1.16999302,  0.89211153,  1.34635865,  0.05144256,  0.21671393],
       [ 0.00614463,  0.74237529, -0.47507864,  1.67809794,  0.4500894 ],
       [-0.31772589,  0.65040648, -0.51263571,  1.39761018,  0.89516784],
       [ 0.30615264,  0.39263822,  0.15269559, -0.29796593,  0.78567799],
       [-0.26282902, -2.35889074, -0.34614412, -1.33762984, -1.07081036],
       [-0.31246118,  0.37865516,  1.43140762,  0.95178402, -0.07185623],
       [ 0.24913032, -1.34691266,  0.8560096 , -1.19646685, -0.14861135],
       [ 1.27649454,  1.04170955, -0.53807766, -0.19919378,  1.3705206 ],
       [-1.29777859,  1.26756735,  0.2023226 , -0.8126409 , -0.64424506]])

In [3]:
my_dataframe = pd.DataFrame(np.random.randn(10,5), index='row1 row2 row3 row4 row5 row6 row7 row8 row9 row10'.split(),
                            columns='column1 column2 column3 column4 column5'.split())

In [4]:
my_dataframe

        column1   column2   column3   column4   column5
row1  -0.617271 -0.621440 -0.465169  2.093772  2.131893
row2   0.899717 -0.596440  0.157680  0.023107 -0.349336
row3   0.535862 -2.096557  1.174985 -0.950185 -0.623881
row4   1.628821  1.172220  0.581543  1.525515  1.593035
row5   0.317820  0.744769 -0.539280  0.143159 -0.379908
row6  -0.505468 -0.917271 -0.412262 -0.157604 -1.869858
row7   0.320305 -1.580545  0.834799  0.167830 -0.823847
row8  -2.281905 -1.295270  1.253903 -1.649512 -0.882400
row9  -0.222941 -0.463648 -0.587753  1.216403 -1.103295
row10 -1.560772  1.074709 -0.550434 -0.469671 -0.145701

In [5]:
my_dataframe['column2']  #Selecting a single column

row1    -0.621440
row2    -0.596440
row3    -2.096557
row4     1.172220
row5     0.744769
row6    -0.917271
row7    -1.580545
row8    -1.295270
row9    -0.463648
row10    1.074709
Name: column2, dtype: float64

In [6]:
my_dataframe[['column3', 'column5','column4']]

        column3   column5   column4
row1  -0.465169  2.131893  2.093772
row2   0.157680 -0.349336  0.023107
row3   1.174985 -0.623881 -0.950185
row4   0.581543  1.593035  1.525515
row5  -0.539280 -0.379908  0.143159
row6  -0.412262 -1.869858 -0.157604
row7   0.834799 -0.823847  0.167830
row8   1.253903 -0.882400 -1.649512
row9  -0.587753 -1.103295  1.216403
row10 -0.550434 -0.145701 -0.469671

In [7]:
my_dataframe['column6']=my_dataframe['column1']*2

In [8]:
my_dataframe

        column1   column2   column3   column4   column5   column6
row1  -0.617271 -0.621440 -0.465169  2.093772  2.131893 -1.234541
row2   0.899717 -0.596440  0.157680  0.023107 -0.349336  1.799434
row3   0.535862 -2.096557  1.174985 -0.950185 -0.623881  1.071723
row4   1.628821  1.172220  0.581543  1.525515  1.593035  3.257641
row5   0.317820  0.744769 -0.539280  0.143159 -0.379908  0.635640
row6  -0.505468 -0.917271 -0.412262 -0.157604 -1.869858 -1.010936
row7   0.320305 -1.580545  0.834799  0.167830 -0.823847  0.640611
row8  -2.281905 -1.295270  1.253903 -1.649512 -0.882400 -4.563811
row9  -0.222941 -0.463648 -0.587753  1.216403 -1.103295 -0.445882
row10 -1.560772  1.074709 -0.550434 -0.469671 -0.145701 -3.121545

In [9]:
my_dataframe.drop('column4', axis=1) #axis=1 is used to refer to the columns and axix=0 refers to the rows

        column1   column2   column3   column5   column6
row1  -0.617271 -0.621440 -0.465169  2.131893 -1.234541
row2   0.899717 -0.596440  0.157680 -0.349336  1.799434
row3   0.535862 -2.096557  1.174985 -0.623881  1.071723
row4   1.628821  1.172220  0.581543  1.593035  3.257641
row5   0.317820  0.744769 -0.539280 -0.379908  0.635640
row6  -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
row7   0.320305 -1.580545  0.834799 -0.823847  0.640611
row8  -2.281905 -1.295270  1.253903 -0.882400 -4.563811
row9  -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
row10 -1.560772  1.074709 -0.550434 -0.145701 -3.121545

In [10]:
my_dataframe.drop('column4', axis=1, inplace=True)  #using inplac=True to effect changes on original file

In [11]:
my_dataframe

        column1   column2   column3   column5   column6
row1  -0.617271 -0.621440 -0.465169  2.131893 -1.234541
row2   0.899717 -0.596440  0.157680 -0.349336  1.799434
row3   0.535862 -2.096557  1.174985 -0.623881  1.071723
row4   1.628821  1.172220  0.581543  1.593035  3.257641
row5   0.317820  0.744769 -0.539280 -0.379908  0.635640
row6  -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
row7   0.320305 -1.580545  0.834799 -0.823847  0.640611
row8  -2.281905 -1.295270  1.253903 -0.882400 -4.563811
row9  -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
row10 -1.560772  1.074709 -0.550434 -0.145701 -3.121545

In [12]:
my_dataframe.drop('row2', axis=0, inplace=True) #axis=0 refering to the rows

In [13]:
my_dataframe

        column1   column2   column3   column5   column6
row1  -0.617271 -0.621440 -0.465169  2.131893 -1.234541
row3   0.535862 -2.096557  1.174985 -0.623881  1.071723
row4   1.628821  1.172220  0.581543  1.593035  3.257641
row5   0.317820  0.744769 -0.539280 -0.379908  0.635640
row6  -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
row7   0.320305 -1.580545  0.834799 -0.823847  0.640611
row8  -2.281905 -1.295270  1.253903 -0.882400 -4.563811
row9  -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
row10 -1.560772  1.074709 -0.550434 -0.145701 -3.121545

In [14]:
my_dataframe.iloc[1]

column1    0.535862
column2   -2.096557
column3    1.174985
column5   -0.623881
column6    1.071723
Name: row3, dtype: float64

In [15]:
my_dataframe.loc['row7','column2']

-1.5805451381738038

**Reset Index**

In [16]:
my_dataframe.index

Index(['row1', 'row3', 'row4', 'row5', 'row6', 'row7', 'row8', 'row9',
       'row10'],
      dtype='object')

In [18]:
my_dataframe['spin']=['sp1','sp3','sp4','sp5','sp6','sp7','sp8','sp9','sp10']

In [19]:
my_dataframe

        column1   column2   column3   column5   column6  spin
row1  -0.617271 -0.621440 -0.465169  2.131893 -1.234541   sp1
row3   0.535862 -2.096557  1.174985 -0.623881  1.071723   sp3
row4   1.628821  1.172220  0.581543  1.593035  3.257641   sp4
row5   0.317820  0.744769 -0.539280 -0.379908  0.635640   sp5
row6  -0.505468 -0.917271 -0.412262 -1.869858 -1.010936   sp6
row7   0.320305 -1.580545  0.834799 -0.823847  0.640611   sp7
row8  -2.281905 -1.295270  1.253903 -0.882400 -4.563811   sp8
row9  -0.222941 -0.463648 -0.587753 -1.103295 -0.445882   sp9
row10 -1.560772  1.074709 -0.550434 -0.145701 -3.121545  sp10

In [20]:
my_dataframe.set_index('spin',inplace=True)  #using the function set_index() to set new index

In [21]:
my_dataframe

       column1   column2   column3   column5   column6
spin
sp1  -0.617271 -0.621440 -0.465169  2.131893 -1.234541
sp3   0.535862 -2.096557  1.174985 -0.623881  1.071723
sp4   1.628821  1.172220  0.581543  1.593035  3.257641
sp5   0.317820  0.744769 -0.539280 -0.379908  0.635640
sp6  -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
sp7   0.320305 -1.580545  0.834799 -0.823847  0.640611
sp8  -2.281905 -1.295270  1.253903 -0.882400 -4.563811
sp9  -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
sp10 -1.560772  1.074709 -0.550434 -0.145701 -3.121545

**Rename a Column In Pandas DataFrame**

In [22]:
my_dataframe.rename(columns={'column1':'first', 
                             'column2':'second', 
                             'column3':'third', 
                             'column5':'fourth',
                             'column6':'fifth'}, 
                    inplace=True)  # using the function rename() the columns

In [23]:
my_dataframe

         first    second     third    fourth     fifth
spin
sp1  -0.617271 -0.621440 -0.465169  2.131893 -1.234541
sp3   0.535862 -2.096557  1.174985 -0.623881  1.071723
sp4   1.628821  1.172220  0.581543  1.593035  3.257641
sp5   0.317820  0.744769 -0.539280 -0.379908  0.635640
sp6  -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
sp7   0.320305 -1.580545  0.834799 -0.823847  0.640611
sp8  -2.281905 -1.295270  1.253903 -0.882400 -4.563811
sp9  -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
sp10 -1.560772  1.074709 -0.550434 -0.145701 -3.121545

In [24]:
my_dataframe.rename(columns={'first':1}) # renaming a single column with the function rename()

             1    second     third    fourth     fifth
spin
sp1  -0.617271 -0.621440 -0.465169  2.131893 -1.234541
sp3   0.535862 -2.096557  1.174985 -0.623881  1.071723
sp4   1.628821  1.172220  0.581543  1.593035  3.257641
sp5   0.317820  0.744769 -0.539280 -0.379908  0.635640
sp6  -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
sp7   0.320305 -1.580545  0.834799 -0.823847  0.640611
sp8  -2.281905 -1.295270  1.253903 -0.882400 -4.563811
sp9  -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
sp10 -1.560772  1.074709 -0.550434 -0.145701 -3.121545

**Rename Index In Pandas DataFrame**

In [25]:
my_dataframe.rename(index={'sp1':1,
                           'sp3':2,
                           'sp4':3,
                           'sp5':4,
                           'sp6':5, 
                           'sp7':6, 
                           'sp8':7,
                           'sp9':8, 
                           'sp10':9}
                    ) #Also renamed the index using the same rename() function

         first    second     third    fourth     fifth
spin
1    -0.617271 -0.621440 -0.465169  2.131893 -1.234541
2     0.535862 -2.096557  1.174985 -0.623881  1.071723
3     1.628821  1.172220  0.581543  1.593035  3.257641
4     0.317820  0.744769 -0.539280 -0.379908  0.635640
5    -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
6     0.320305 -1.580545  0.834799 -0.823847  0.640611
7    -2.281905 -1.295270  1.253903 -0.882400 -4.563811
8    -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
9    -1.560772  1.074709 -0.550434 -0.145701 -3.121545

In [26]:
my_dataframe

         first    second     third    fourth     fifth
spin
sp1  -0.617271 -0.621440 -0.465169  2.131893 -1.234541
sp3   0.535862 -2.096557  1.174985 -0.623881  1.071723
sp4   1.628821  1.172220  0.581543  1.593035  3.257641
sp5   0.317820  0.744769 -0.539280 -0.379908  0.635640
sp6  -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
sp7   0.320305 -1.580545  0.834799 -0.823847  0.640611
sp8  -2.281905 -1.295270  1.253903 -0.882400 -4.563811
sp9  -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
sp10 -1.560772  1.074709 -0.550434 -0.145701 -3.121545

In [27]:
my_dataframe.rename(index={'sp1':1,
                           'sp3':2,
                           'sp4':3,
                           'sp5':4,
                           'sp6':5, 
                           'sp7':6, 
                           'sp8':7,
                           'sp9':8, 
                           'sp10':9},
                    inplace=True)

In [28]:
my_dataframe

         first    second     third    fourth     fifth
spin
1    -0.617271 -0.621440 -0.465169  2.131893 -1.234541
2     0.535862 -2.096557  1.174985 -0.623881  1.071723
3     1.628821  1.172220  0.581543  1.593035  3.257641
4     0.317820  0.744769 -0.539280 -0.379908  0.635640
5    -0.505468 -0.917271 -0.412262 -1.869858 -1.010936
6     0.320305 -1.580545  0.834799 -0.823847  0.640611
7    -2.281905 -1.295270  1.253903 -0.882400 -4.563811
8    -0.222941 -0.463648 -0.587753 -1.103295 -0.445882
9    -1.560772  1.074709 -0.550434 -0.145701 -3.121545